[submodule "third_party/DBoW2"]
	path = third_party/DBoW2
	url = https://github.com/dorian3d/DBoW2.git
[submodule "third_party/Sophus"]
	path = third_party/Sophus
	url = https://github.com/strasdat/Sophus.git
[submodule "third_party/eigen"]
	path = third_party/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "third_party/vision_core"]
	path = third_party/vision_core
	url = https://github.com/lukier/vision_core.git
[submodule "third_party/gtsam"]
	path = third_party/gtsam
	url = https://github.com/borglab/gtsam.git
